{#
/**
 * @file
 * Theme template for ILAS Chatbot block.
 */
#}
<div class="ilas-chatbot-wrapper" data-block-id="{{ plugin_id }}">
  <!-- ILAS Chatbot Container -->
  <div id="ilas-chatbot-root"></div>
</div>